In [162]:
import pandas as pd 
import numpy as np

In [163]:
overdoses_df = pd.read_csv("resources/us-opiate-prescriptions/overdoses.csv")
overdoses_df.head()
overdoses_df.columns

Index(['State', 'Population', 'Deaths', 'Abbrev'], dtype='object')

In [164]:
overdoses_df.dtypes

State         object
Population    object
Deaths        object
Abbrev        object
dtype: object

In [165]:
overdoses_df.head()

        State  Population Deaths Abbrev
0     Alabama   4,833,722    723     AL
1      Alaska     735,132    124     AK
2     Arizona   6,626,624  1,211     AZ
3    Arkansas   2,959,373    356     AR
4  California  38,332,521  4,521     CA

In [166]:
overdoses_df['Population'] = overdoses_df['Population'].str.replace(',', '')

In [167]:
overdoses_df.dtypes

State         object
Population    object
Deaths        object
Abbrev        object
dtype: object

In [168]:
overdoses_df.head()

        State Population Deaths Abbrev
0     Alabama    4833722    723     AL
1      Alaska     735132    124     AK
2     Arizona    6626624  1,211     AZ
3    Arkansas    2959373    356     AR
4  California   38332521  4,521     CA

In [169]:
overdoses_df['Population'] = overdoses_df['Population'].astype(str).astype(int)

In [170]:
overdoses_df.dtypes

State         object
Population     int64
Deaths        object
Abbrev        object
dtype: object

In [171]:
overdoses_df['Deaths'] = overdoses_df['Deaths'].str.replace(',', '')

In [172]:
overdoses_df['Deaths'] = overdoses_df['Deaths'].astype(str).astype(int)

In [173]:
overdoses_df.dtypes

State         object
Population     int64
Deaths         int64
Abbrev        object
dtype: object

In [174]:
overdoses_df['Rate'] = overdoses_df['Deaths']/ overdoses_df['Population']

In [175]:
overdoses_df.head()

        State  Population  Deaths Abbrev      Rate
0     Alabama     4833722     723     AL  0.000150
1      Alaska      735132     124     AK  0.000169
2     Arizona     6626624    1211     AZ  0.000183
3    Arkansas     2959373     356     AR  0.000120
4  California    38332521    4521     CA  0.000118

In [176]:
overdoses_df.dtypes

State          object
Population      int64
Deaths          int64
Abbrev         object
Rate          float64
dtype: object

In [177]:
overdoses_df = overdoses_df.drop(['Abbrev'], axis=1, inplace=False)
overdoses_df.head()

        State  Population  Deaths      Rate
0     Alabama     4833722     723  0.000150
1      Alaska      735132     124  0.000169
2     Arizona     6626624    1211  0.000183
3    Arkansas     2959373     356  0.000120
4  California    38332521    4521  0.000118

In [178]:
overdoses_df.to_csv('resources/overdoses_clean.csv')