In [95]:
import pandas as pd 
import numpy as np

In [96]:
overdoses_df = pd.read_csv("resources/us-opiate-prescriptions/overdoses.csv")
overdoses_df.head()
overdoses_df.columns

Index(['State', 'Population', 'Deaths', 'Abbrev'], dtype='object')

In [97]:
overdoses_df.dtypes

State         object
Population    object
Deaths        object
Abbrev        object
dtype: object

In [98]:
overdoses_df.head()

        State  Population Deaths Abbrev
0     Alabama   4,833,722    723     AL
1      Alaska     735,132    124     AK
2     Arizona   6,626,624  1,211     AZ
3    Arkansas   2,959,373    356     AR
4  California  38,332,521  4,521     CA

In [99]:
overdoses_df['Population'] = overdoses_df['Population'].str.replace(',', '')

In [100]:
overdoses_df.dtypes

State         object
Population    object
Deaths        object
Abbrev        object
dtype: object

In [101]:
overdoses_df.head()

        State Population Deaths Abbrev
0     Alabama    4833722    723     AL
1      Alaska     735132    124     AK
2     Arizona    6626624  1,211     AZ
3    Arkansas    2959373    356     AR
4  California   38332521  4,521     CA

In [102]:
overdoses_df['Population'] = overdoses_df['Population'].astype(str).astype(int)

In [103]:
overdoses_df.dtypes

State         object
Population     int64
Deaths        object
Abbrev        object
dtype: object

In [104]:
overdoses_df['Deaths'] = overdoses_df['Deaths'].str.replace(',', '')

In [106]:
overdoses_df['Deaths'] = overdoses_df['Deaths'].astype(str).astype(int)

In [107]:
overdoses_df.dtypes

State         object
Population     int64
Deaths         int64
Abbrev        object
dtype: object

In [109]:
overdoses_df.to_csv('resources/overdoses_clean.csv')