In [2]:
import pandas as pd 
import numpy as np

In [3]:
overdoses_df = pd.read_csv("resources/us-opiate-prescriptions/overdoses.csv")
overdoses_df.head()
overdoses_df.columns

Index(['State', 'Population', 'Deaths', 'Abbrev'], dtype='object')

In [4]:
overdoses_df.dtypes

State         object
Population    object
Deaths        object
Abbrev        object
dtype: object

In [5]:
overdoses_df.head()

        State  Population Deaths Abbrev
0     Alabama   4,833,722    723     AL
1      Alaska     735,132    124     AK
2     Arizona   6,626,624  1,211     AZ
3    Arkansas   2,959,373    356     AR
4  California  38,332,521  4,521     CA

In [ ]:
pd.to_numeric('Deaths')