In [7]:
import pandas as pd 
import numpy as np

In [15]:
overdoses = pd.read_csv("resources/us-opiate-prescriptions/overdoses.csv")
overdoses.head()

        State  Population Deaths Abbrev
0     Alabama   4,833,722    723     AL
1      Alaska     735,132    124     AK
2     Arizona   6,626,624  1,211     AZ
3    Arkansas   2,959,373    356     AR
4  California  38,332,521  4,521     CA

In [17]:
overdoses_df =

AttributeError: 'DataFrame' object has no attribute 'columns_drop'